<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">HomePage</a>
        <a href="{{ url_for('card_form') }}">Add Card</a>
        <a href="{{ url_for('delete') }}">Delete Card</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('get_cards') }}">GetData</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>